<!-- <textarea class="editable" (change)="updateText()"></textarea> -->

<div id="container">
  <div class="editable">
    <h1>Thermo-Terra – Tea heaven</h1>
    <p>
      Say goodbye to pesky plastic bottles and hello to the Therm-O Terra – a
      double walled glass beauty you’ll want to use time and time again. Made
      from food grade, lead free and BPA free materials, this reusable creation
      is the perfect alternative to the disposable plastic bottles that we see
      littered about. With a removable stainless steel tea strainer, the Terra
      might just be the best way to carry our most consumed beverages.
    </p>
    <p>
      These nifty numbers are designed by Aquaovo – a Canadian company who
      specialise in everything from filters and carafes to dispensers and
      bottles. The company’s desire to protect you and the environment from any
      nasties is admirable, and we can’t wait to see what else they float our
      way.
    </p>
  </div>
</div>
