<div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #emailSignup />
  <input type="text" #passwordSignup />
  <button (click)="onSignup(emailSignup.value, passwordSignup.value)">
    Sign Up
  </button>
</div>

<hr />
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" #emailSignin />
  <input type="text" #passwordSignin />
  <button (click)="onSignin(emailSignin.value, passwordSignin.value)">
    Sign In
  </button>
</div>

<hr />
<div *ngIf="!isSignedIn">
  <h2>Or</h2>
  <button (click)="onSigninWithGoogle()">Sign In with Google</button>
</div>

<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
